.brand-logo{
	margin-left:20px;
}

.row .col.s10{
	height: 50px;
}
.nav-wrapper{
	padding-right: 5px;
}
.row .col.s2{
	height: 50px;
	text-align: right; 
	color: white; 
	font-size: 30px;
	margin-bottom: 0px;
}

.chatCont{
	margin-top: 0px;
	width: 100%;
	height: 460px;
}


.chatCont > input[type='submit']{
	border-radius: 5px;
	background: #FF0000;
}

.chatCont > .chatMessages {
	height: 100%;
	padding-left: 5px;	
	border-bottom: 1px solid #ddd;
	overflow-y: scroll; 
}

.chatCont > .chatBottom{
	margin-top: 5px;
}

.chatCont > .chatBottom form input[type='submit']{
	padding: 5px;
	background: #0066FF;
	border: 1px solid #ddd;
	border-radius: 5px;
	cursor: pointer;
	width: 60px;
	height: 40px;
}

.chatCont > .chatBottom form input[type='text']{
	width: 93%;
	padding: 3px;
	padding-left: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
	margin: 5px;
	height: 30px;
}

.cm {
	list-style: none;
}
