body{
	height: 100%;
	margin: 0px;
	padding: 0px;
}

//Navigator

.nav-wrapper{
	margin-bottom: 10px;
}

.wrapper{
	height: auto;
	margin-left: 30px;
}

.navicon{
	margin-left: 40px;
}

//Side Nav

.sidenav{
	font-size: 40px;
}

.side0{
	margin-top: 10px;
	border: 1px solid #ddd;
	border-radius: 10px;
	padding: 5px;	
	margin-bottom: 10px;
	background-color: #1565c0;
	color: white;
}

.side1{
	border: 1px solid #aaa;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    color: black;
    padding: 0;
    margin: 5px 0px 5px 0px;

    height: 120px;
    border-radius: 10px;
}

.side2{
	border: 1px solid #aaa;
    text-align: center;
    height: 95px;
    font-size: 20px;
    border-radius: 10px;
}


.row .col.s1.to-follow{
	border: 1px solid #aaa;
	font-size: 30px;
	width: 300px;
	margin-top: 10px;
}

.fllw .col.s12{
	border: 1px solid #aaa;
	margin-top: 10px;
	text-align: left;
	font-size: 20px;
}

.fllw .col.s12 div{
	padding: 0px;
	text-align: right;
	float: right;
}
.profile{
	margin-bottom: 0px;
	height: 80px;
	width: 80px;
	margin-right: 0px;
	border: 3px solid #ddd;
	margin-left: 0px;
	margin-top: 10px;
}

.ic{
	font-size: 40px;
	margin-bottom: 0px;
}

h1{
	font-size: 20px;
	font-color: black;
}

.bio{
	color: black;
}

.col.s3.icons{
	margin-top: 10px;
	font-size: 40px;
	text-align: center;
	font-color: black;
}

//Timeline

.timeline{
	margin: 0px;
}

.collapsible{
	width: 900px;
	margin-top: 5px;
	border-radius: 7px;
}

.collapsible-header{
	height: 50px;
	font-size: 20px;	
}
.collapsible-body{
	background-color: white;
}

.container{
	width: 900px;
	margin-top: 20px;
}

.row.sbar{
	width: 900px;
	height: 75px;
	margin-top: 10px;
	border-radius: 5px; 
	background-color: #1565c0;
}

#search{
	width: 400px;
	height: 45px;
	text-align: right;
	border-radius: 5px;
}

.flw-btn{
	padding-top:0px; 
	width:80px; 
	background-color: blue; 
	line-height: 20px; 
	margin: 0px; 
	border-radius: 3px;
	height: 30px; 
	text-align: left;
	font-size: 10px; 
	padding-left: 20px;
}

.bm-btn{
	padding-top:0px; 
	width:90px; 
	background-color: red; 
	line-height: 20px; 
	margin: 0px 2px 0px 0px; 
	border-radius: 3px;
	height: 30px; 
	text-align: left;
	font-size: 10px; 
	padding-left: 20px;
}

//Confess

#con-title{
	width: 400px;	 
}

.filter{
	width: 200px;
	margin-top: 20px;
	border: 1px solid #bbb;
}

.filters{
	border: 1px solid #ccc;
	height: 30px;
}

.context{
	height: 300px;
	border: 1px solid #bbb;
}

.pagination.lighter ul li {
	 background: #fff; border: 1px solid #ddd;
}


#slide-out{
	height: 500px;
}

.ubar{
	height: 20px;
	font-size: 20px;
	background-color: #1976d2;
}

.fcon{
	overflow-y: scroll; 
	height: 80%;
}

.chatBottom form input[type='submit']{
	padding: 1px;
	background: #0066FF;
	border: 1px solid #ddd;
	border-radius: 5px;
	cursor: pointer;
	width: 20px;
	height: 30px;
}

.chatBottom form input[type='text']{
	width: 50%;
	padding: 3px;
	padding-left: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
	margin: 5px;
	height: 30px;
}
