body{
	overflow-y: hidden;
}
.brand-logo{
	margin-left:20px;
}

.row .col.s10{
	height: 50px;
}
.nav-wrapper{
	padding-right: 5px;
	margin: 0px;
}
.row .col.s2{
	height: 50px;
	text-align: right; 
	color: white; 
	font-size: 30px;
	margin-bottom: 0px;	
}

.chatCont{
	margin-top: 0px;
	width: 100%;
	height: 180px;
}


.chatCont > input[type='submit']{
	border-radius: 5px;
	background: #FF0000;

}

.chatCont > .chatMessages {
	height: 100%;
	padding-left: 5px;	
	border-bottom: 1px solid #ddd;
	overflow-y: scroll; 
}

.chatCont > .chatBottom1{
	margin-top: 5px;
}

.chatCont > .chatBottom1 form input[type='submit']{
	padding: 5px;
	background: #0066FF;
	border: 1px solid #ddd;
	border-radius: 5px;
	cursor: pointer;
	width: 70px;
	height: 40px;
}

.chatCont > .chatBottom1 form input[type='text']{
	width: 85%;
	padding: 3px;
	padding-left: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
	margin: 5px;
	height: 30px;
}

.chatCont > .chatBottom2{
	margin-top: 5px;
}

.chatCont > .chatBottom2 form input[type='submit']{
	padding: 5px;
	background: #0066FF;
	border: 1px solid #ddd;
	border-radius: 5px;
	cursor: pointer;
	width: 70px;
	height: 40px;
}

.chatCont > .chatBottom2 form input[type='text']{
	width: 90%;
	padding: 3px;
	padding-left: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
	margin: 5px;
	height: 30px;
}

.cm {
	list-style: none;
}


.cont{
	border: 1px solid #bbb; 
	height: 280px; 
	width: 100%;
	margin-bottom: 0px;
	margin-top: 5px;
	margin-left: 3px;
	border-radius: 10px;
}

.icn{
	font-size: 40px;
	margin: 5px 5px 0px 0px;
}

.chatName{
	height: 40px;
	background-color: #1976d2;
	border-top-left-radius:0.25em;
	border-top-right-radius:0.25em;
	border-bottom-right-radius:0em;
	border-bottom-left-radius:0em;
}

.row .col.s9{
	padding-right: 10px;
}

.row .col.s3{
	margin-top: 0px;
	padding: 0px 10px 10px 5px;
	height: 100%;
}

.fcon{
	border: 1px solid #ccc; 
	height: 560px;
}

.ubar{
	background-color: #1976d2;
	width: 100%;
	height: 40px;
	color: white;
	font-size: 20px;
	padding: 3px;
	margin-bottom: 0px;
}

.fcon > .nlist{
	padding-top: 0px;
	padding-left: 2px;
	overflow-y: scroll; 
	height: 93%;
}

li{
	margin: 5px 0px 5px 2px;
}

ul{
	margin-top: 0px;
}

.userbtn{
	width: 200px; 
	margin-top:0px;
	overflow-x: hidden;
}

.navbar-custom {
    color: #1976d2;
    background-color: #1976d2;
}